module.exports = {
  {{#Mods}}
  {{ModName}}: {
    Event: require('./{{ModName}}/{{#Event}}{{KlsName}}{{/Event}}'),
    DataClasses: {
      {{#DataClasses}}
      {{KlsName}}: require('./{{ModName}}/{{KlsName}}'),
      {{/DataClasses}}
    }
  },
  {{/Mods}}
};
