{{#Metadata}}
{
  "name": "{{PackageName}}",
  "version": "{{Version}}",
  "description": "{{Description}}",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "{{Contact}}",
  "license": "Apache-2.0",
  "dependencies": {
    "uuid": "^3.3.3"
  }
}
{{/Metadata}}
