{{#Metadata}}
{
  "name": "{{PackageName}}",
  "version": "{{Version}}",
  "description": "{{Description}}",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "{{Contact}}",
  "license": "Apache-2.0",
{{/Metadata}}
  "dependencies": {
    "uuid": "^3.3.3",
    {{#Binding}}
    {{#IsHTTP}}
    "request": "^2.88.0"
    {{/IsHTTP}}
    {{/Binding}}
  }
}

